In [4]:
import pandas as pd
import glob
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm
from sklearn import linear_model
from scipy import stats
from pandas.core import datetools
%matplotlib inline

In [5]:
new_company_list = [
 'ASGN',
 'AVA',
 'B',
 'BCPC',
 'CACI',
 'CBU',
 'CHE',
 'COLB',
 'FCFS',
 'FFIN',
 'FIVE',
 'GBCI',
 'GDOT',
 'HAE',
 'HI',
 'IART',
 'JBT',
 'KFY',
 'KS',
 'NEOG',
 'NSP',
 'PDCE',
 'PSB',
 'QLYS',
 'SIGI',
 'SKYW',
 'STMP',
 'TREX',
 'VAC',
 'WWE']

In [6]:
month = {'JAN': 1, 'FEB':2, 'MAR': 3, 'APR': 4, 'MAY': 5, 'JUN': 6, 'JUL': 7, 'AUG': 8, 'SEP': 9, 'OCT':10, 'NOV': 11, 'DEC': 12}

In [7]:
# Import high frequency data
def import_data(path, company_list):
    path = path               #r'D:\data_raw' # Please put all .csv documents into one folder
    company_list = company_list# Input company name as a list
    company_data = {} # Store company data as a dictionary: {company_name1: data1, company_name2: data2, ...}
    for company in company_list:
        frame = pd.DataFrame()
        list_ = []
        allFiles = glob.glob(path + '/' +company +'_' + '*.csv')
        allFiles.reverse()
        #print (allFiles)
        for file_ in allFiles:
            df = pd.read_csv(file_, index_col=None, header=0, usecols=[0,1], skiprows=[1,])
            list_.append(df)
        frame = pd.concat(list_)
        company_data[company] = frame
        company_data[company].index = pd.RangeIndex(len(company_data[company].index))
    return company_data

In [8]:
company_data = import_data(r'./New_Data', new_company_list)

In [9]:
company_data['ASGN'].head()

               Time Interval  Close
0  05MAR2013_00:00:00.000000    NaN
1              09:30 - 09:35  22.60
2              09:35 - 09:40  22.75
3              09:40 - 09:45  22.75
4              09:45 - 09:50  22.67

In [10]:
#edit time => date time merge big data

In [11]:
def set_multiindex(company_data, company_list):
    for com in company_list:
        #date_idx = []
        company_data[com]['date'] = pd.Series(np.NaN, index = company_data[com].index)
        date_idx_s = np.array(company_data[com].loc[pd.isnull(company_data[com].Close), ].index)
        date_idx_e = np.append(date_idx_s[1:], company_data[com].shape[0])
        for i, j in zip(date_idx_s, date_idx_e):
            date = company_data[com]['Time Interval'][i][:9]
            d = date[:2]
            m = str(month[date[2:5]])
            y = date[5:]
            trans_date = d+'/'+m+'/'+y
            #date_idx.append(trans_date)
            #company_data[com]['Time Interval'].iloc[i+1:j] = trans_date +' ' + company_data[com]['Time Interval'].iloc[i+1:j]
            company_data[com]['date'].iloc[i+1:j] = pd.to_datetime(trans_date, dayfirst=True)
        company_data[com].set_index(['date', 'Time Interval'], inplace = True)
        company_data[com].dropna(axis = 0, how = 'any', inplace = True)
    return

In [18]:
set_multiindex(company_data, new_company_list[25:])

D:\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
for com in new_company_list:
    print (company_data[com].head())

                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  22.60
           09:35 - 09:40  22.75
           09:40 - 09:45  22.75
           09:45 - 09:50  22.67
           09:50 - 09:55  22.70
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  26.21
           09:35 - 09:40  26.30
           09:40 - 09:45  26.41
           09:45 - 09:50  26.36
           09:50 - 09:55  26.39
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  26.47
           09:35 - 09:40  26.66
           09:40 - 09:45  26.54
           09:45 - 09:50  26.59
           09:50 - 09:55  26.73
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  41.25
           09:35 - 09:40  41.80
           09:40 - 09:45  41.73
           09:45 - 09:50  41.73
           09:55 - 10:00  41.76
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  51.67
           09:35 - 09:40  51.61
           09:40 - 09:45  51.61
           09:45 - 09:50  51.70
           09:50 - 09:55  51.79
                            Close
date       Time Interval
2013-03-05 09:30 - 09:35  29.0000
           09:35 - 09:40  28.9700
           09:40 - 09:45  29.0692
           09:45 - 09:50  29.0000
           09:50 - 09:55  29.0900
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  77.650
           09:35 - 09:40  77.510
           09:45 - 09:50  77.500
           09:50 - 09:55  77.500
           09:55 - 10:00  77.465
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  20.07
           09:35 - 09:40  20.25
           09:40 - 09:45  20.36
           09:45 - 09:50  20.32
           09:50 - 09:55  20.35
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  54.800
           09:35 - 09:40  55.120
           09:40 - 09:45  55.180
           09:45 - 09:50  55.160
           09:50 - 09:55  55.105
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  23.00
           09:35 - 09:40  23.00
           09:50 - 09:55  22.95
           09:55 - 10:00  23.01
           10:00 - 10:05  23.04
                            Close
date       Time Interval
2013-03-05 09:30 - 09:35  41.4650
           09:35 - 09:40  41.3100
           09:40 - 09:45  41.3700
           09:45 - 09:50  41.1499
           09:50 - 09:55  41.1300
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  17.580
           09:35 - 09:40  17.640
           09:40 - 09:45  17.645
           09:45 - 09:50  17.660
           09:50 - 09:55  17.630
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  15.27
           09:35 - 09:40  15.13
           09:40 - 09:45  15.01
           09:45 - 09:50  15.07
           09:50 - 09:55  15.05
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  41.81
           09:35 - 09:40  41.84
           09:40 - 09:45  41.77
           09:45 - 09:50  41.83
           09:50 - 09:55  41.84
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  24.23
           09:35 - 09:40  24.36
           09:40 - 09:45  24.35
           09:50 - 09:55  24.34
           09:55 - 10:00  24.35
                            Close
date       Time Interval
2013-03-05 09:30 - 09:35  18.6741
           09:35 - 09:40  18.7080
           09:40 - 09:45  18.6289
           09:45 - 09:50  18.7799
           09:50 - 09:55  18.7374
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  18.560
           09:35 - 09:40  18.604
           09:50 - 09:55  18.640
           09:55 - 10:00  18.648
           10:00 - 10:05  18.590
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  18.00
           09:35 - 09:40  18.08
           09:40 - 09:45  18.08
           09:45 - 09:50  18.04
           09:50 - 09:55  18.13
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  13.755
           09:35 - 09:40  13.815
           09:40 - 09:45  13.810
           09:45 - 09:50  13.790
           09:50 - 09:55  13.830
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  23.195
           09:35 - 09:40  23.270
           09:40 - 09:45  23.250
           09:45 - 09:50  23.250
           09:50 - 09:55  23.240
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  14.440
           09:35 - 09:40  14.365
           09:40 - 09:45  14.345
           09:45 - 09:50  14.395
           09:50 - 09:55  14.345
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  47.405
           09:35 - 09:40  47.390
           09:40 - 09:45  47.150
           09:45 - 09:50  47.230
           09:50 - 09:55  47.590
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  74.78
           09:35 - 09:40  74.86
           09:40 - 09:45  74.98
           09:45 - 09:50  74.99
           09:50 - 09:55  74.82
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  12.48
           09:50 - 09:55  12.33
           09:55 - 10:00  12.36
           10:05 - 10:10  12.21
           10:10 - 10:15  12.15
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  22.25
           09:35 - 09:40  22.27
           09:40 - 09:45  22.36
           09:45 - 09:50  22.50
           09:50 - 09:55  22.54
                            Close
date       Time Interval
2013-03-05 09:30 - 09:35  14.7600
           09:35 - 09:40  14.7100
           09:40 - 09:45  14.7300
           09:45 - 09:50  14.6901
           09:50 - 09:55  14.7100
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35  24.84
           09:40 - 09:45  24.84
           09:45 - 09:50  24.92
           09:55 - 10:00  24.81
           10:00 - 10:05  24.90
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  25.035
           09:35 - 09:40  25.105
           09:40 - 09:45  25.027
           09:45 - 09:50  25.040
           09:50 - 09:55  25.090
                           Close
date       Time Interval
2013-03-05 09:30 - 09:35  42.920
           09:35 - 09:40  42.810
           09:40 - 09:45  42.452
           09:45 - 09:50  42.460
           09:50 - 09:55  42.655
                          Close
date       Time Interval
2013-03-05 09:30 - 09:35   8.65
           09:35 - 09:40   8.65
           09:40 - 09:45   8.64
           09:45 - 09:50   8.65
           09:55 - 10:00   8.64

In [20]:
import pickle

In [21]:
with open('processed_raw_data', 'wb') as f:
    pickle.dump(company_data, f)